@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

body {
    background-color: #F9FAFB;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}



.container {

    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    gap: 10px;

}



h1 {

    font-size: 4.5rem;
    margin-bottom: 30px;
}

h2 {
    color: #080b00;
    font-size: 3.8rem;
    font-weight: 650;
}

a {
    color: #2563EB;
    font-size: 2.2rem;
    font-weight: 700;
    text-decoration: none;
}

span {
    color: #20344A;
    font-weight: 400;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

input {
    width: 750px;
    padding: 25px 0px;
    padding-left: 50px;
    font-size: 2.4rem;
    border: #D1D6DB 1px solid;
    border-radius: 8px;
    color: #304279;
}

.submit-form {
    background-color: #2563EB;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    padding-left: 0px;
    text-align: center;
    margin-bottom: 200px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #222;
  color: #fff;
  text-align: center;
  padding: 16px 0;  /* Increased padding */
  font-size: 1.6rem; /* Set readable font size */
  z-index: 1000;
}

footer nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 10px 0 0 0;
}

footer nav ul li a {
  color: #ffa500;
  text-decoration: none;
  font-size: 1.6rem;  /* Ensure consistent font size */
}

footer nav ul li a:hover {
  text-decoration: underline;
  color: #ffa500;  /* Prevent color shift */
}




@media (max-width : 768px){

    .container {

        width: 90%;
        height: 80%;

        padding: 20px 0px;
        gap: 10px;
    }

    h1 {

        font-size: 3.5rem;
        margin-bottom: 25px;
    }
    
    h2 {

        font-size: 2.8rem;
    
    }
    
    a {

        font-size: 1.5rem;

    }
    
    span {
        color: #20344A;
        font-weight: 400;
    }
    
    
 
    
    input {
        width: 125%;
        padding: 15px 0px;
        padding-left: 25px;
        font-size: 2.0rem;

    }
    
    .submit-form {
        margin-top: 0px;
    }
    
    


}
